<div ng-app="app">
{{1+1}}

 <div ng-controller="bandsCtrl" ng-init="setup()">
    <input ng-model="nameFilter" list="names">
    
    <datalist id="names">
      <option ng-repeat="band in bands">{{ band.name }}</option>
    </datalist>

    <table>
      <tbody>
      <tr>
      <td ng-click="toggleOrder('name')">Band Name</td>
      <td ng-click="toggleOrder('email')">email</td>
      <td ng-click="toggleOrder('number_members')">number of members</td>
      </tr>
        <tr ng-repeat="band in bands | filter:  {name: nameFilter} | orderBy:orderAttribute:descending ">
          <td>{{band.name}}</td>
          <td>{{band.email}}</td>
          <td>{{band.number_members}}</td>
        </tr>
      </tbody>
    </table>
   <div>
    <ul ng-repeat="error in errors">
    <li>
    {{error}}
    </li>
    </ul>
   </div>
    <div>
    Name: <input ng-model="newBandName">
    email: <input ng-model="newBandEmail">
    Number Of Members: <input ng-model="newBandNumberMembers">
    <button ng-click="addBand(newBandName, newBandEmail, newBandNumberMembers)"> Add Band </button>
    </div>
</div>
</div>